.body{
    font-family: Roboto Raleway ;
}

:root {
  --c-primary: #4D5AE5;
  --c-background-light: #F4F4FD;
  --c-background: #FFFFFF;
    
}
.logo {
    color: cornsilks
}
.nav-link {
  color:#2E2F42;
}

.nav-link:hover {
    color:#404BBF
}

.hero-section{
    background: #2E2F42;
}
.hero-title{
    color: #fff;
}
.button{
   background-color: var(--c-primary);
   color: #fff;
   cursor: pointer;
   border-radius: 14px;
   padding: 16px 32px;
}
.button:hover{
   background-color: #fff;
   color: #4D5AE5;
   border-radius: 14px;
   padding: 16px 32px;
}