.logo {
    color: #111111;
}
.nav-link {
  color:#2E2F42;  
}
.hero-section{
    background-color: #1e1823;
}
.hero-title{
    color: #fff;
}
.button{
   background-color: #4D5AE5;
   color: #fff;
}
